/* Remove default spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Whole Page */
body{
    font-family:Arial, Helvetica, sans-serif;

    background:linear-gradient(135deg,#0F172A,#111827,#1E293B);

    color:white;

    overflow-x:hidden;
}



/* Navigation */

.navbar{

    display:flex;

    justify-content: space-between;
}

/* Hero Section */

.hero{

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    height:85vh;

    padding:40px;

}

.hero-content{

    max-width:700px;

}

.hero h1{

    font-size:64px;

    line-height:1.2;

    margin-bottom:25px;

}
.hero p{

    font-size:20px;

    color:#CBD5E1;

    line-height:1.8;

    margin-bottom:40px;

}

/* Buttons */

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.primary-btn{

    background:#3B82F6;

    color:white;

    box-shadow:0 10px 30px rgba(59,130,246,.4);

}

.btn{

    padding:18px 40px;

    border-radius:14px;

    font-size:18px;

    font-weight:bold;

    text-decoration:none;

    transition:.3s;

}

/* Primary Button */

.primary-btn{

    background:#3B82F6;

    color:white;

}

/* Secondary Button */

.secondary-btn{

    border:2px solid white;

    color:white;

}

/* Hover */

.primary-btn:hover{

    background:#2563EB;

}

.secondary-btn:hover{

    background:white;

    color:#111827;

}

/* ===========================
   Features Section
=========================== */

.features{

    padding:100px 10%;

    text-align:center;

}

.features h2{

    font-size:42px;

    margin-bottom:60px;

}

.feature-container{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}

.feature-card{

    width:320px;

    background:#1E293B;

    padding:35px;

    border-radius:15px;

    transition:.3s;

}

.feature-card:hover{

    transform:translateY(-10px);

}

.feature-card h3{

    margin-bottom:20px;

}

.feature-card p{

    color:#CBD5E1;

    line-height:1.8;

}
/* Logo */

.logo{
    font-size:28px;
    font-weight:bold;
    white-space: nowrap;
}
/* Menu */

.nav-links{

    display:flex;

    list-style:none;

    gap:30px;

}

/* Links */

.nav-links a{

    color:white;

    text-decoration:none;

    font-size:18px;

}

/* Hover */

.nav-links a:hover{

    color:#38BDF8;

}